version: '3.7'

services:
  bricks-dashboard-dev:
    container_name: bricks-dashboard-dev
    build:
      context: .
      dockerfile: Dockerfile.prod
    volumes:
      - '.:/app'
      - '/app/node_modules'
    ports:
      - 3000:3000

